{% extends "admin/change_form.html" %}
{% block submit_buttons_bottom %}
  {{ block.super }}

  <hr style="margin: 30px 0;">

  
    <!-- Proceess Refund -->
    <a href="{% url 'admin:process_refund' original.id %}"
   class="button"
   style="
     background: #3598db;  /* darker than #dc3545 */
     color: white;
     border-radius: 4px;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 36px;
     font-size: 14px;
     text-decoration: none;
   "
   onmouseover="this.style.backgroundColor='#2385c6'"
   onmouseout="this.style.backgroundColor='#3598db'"
>
  Approve refund
</a>




  </div>
{% endblock %}
