<div class="row">
    <div class="col-md-6 text-center border-right">
        <h4>Image: {{ unlinked.filename }}</h4>
        <img src="{{ unlinked.image.url }}" class="img-fluid rounded shadow-sm mt-2 mb-3" style="max-height: 450px;">
        <br>
        <!-- Standard HTML Skip Button -->
        <form action="{% url 'skip_image' unlinked.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning px-4">
                <i class="fas fa-forward"></i> Skip For Now
            </button>
        </form>
    </div>

    <div class="col-md-6" id="action-panel">
        <h5 class="mb-1">Search & Select Product</h5>
        <input class="form-control form-control-lg mb-3" type="text" name="q" placeholder="Type to search products..." 
               hx-get="{% url 'search_unlinked_products' %}?unlinked_id={{ unlinked.id }}" 
               hx-trigger="keyup changed delay:300ms" hx-target="#search-results" autofocus>
        
        <div id="search-results" class="list-group"></div>
    </div>
</div>